@use "variables" as *;

.activityGenerator {
    font-size: 1.2rem;
    flex-basis: 45%;
    border: 5px solid $fourthColor;
    border-radius: 10% 10% 0 0;
    padding: 5% 0;
    min-height: 597px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width:$smallScreens) {
        min-height: 500px;
        padding: 0;
        font-size: 1rem;
    }

    @media (max-width:$tablet) {
        padding: 5% 5%;
        margin-top: 30px;
    }


    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }


    label {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    .buttonField {
        @media (max-width:$tablet) {
            display: flex;
            flex-direction: column;
        }
    }

    button {
        margin: 5px 0;
    }

    .activityDisplay {
        width: 90%;
        background-color: $secondaryColor;
        min-height: 200px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        padding: 3%;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 10px $fifthColor;
    }
}