@use "variables" as *;

.activityGenerator {
    font-size: 1.2rem;
    flex-basis: 45%;
    border: 5px solid $fourthColor;
    padding: 5% 0;
    display: flex;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    label {
        display: block;
        margin: 10px 0;
    }
}