@use "variables" as *;

header {
    margin-bottom: 80px;

    .wrapper {
        display: flex;
        justify-content: center;

    }

    @media (max-width:$tablet) {
        font-size: 1.3rem;
    }

    @media (max-width:$mobile) {
        font-size: 0.7rem;
        flex-direction: column;
    }
}