@use "variables" as *;

.popUp {
  display: none;

  .popUpInner {
    background-color: $secondaryColor;
    line-height: 1.2rem;
    min-width: 450px;
    height: 90%;
    padding: 30px 40px;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: $secondaryFont;
    z-index: 10;
    overflow: auto;
    box-shadow: 0px 25px 43px 0px rgb(0 0 0 / 32%);
    max-width: 100%;

    @media (max-width:$mobile) {
      max-width: 80%;
      height: 100vh;
    }

    button {
      font-size: 2rem;
    }

  }

  h3 {
    text-align: center;
    margin-bottom: 30px 0;
  }

  p {
    text-align: center;

  }

  &:before {
    content: "";
    background: rgb(0 0 0 / 57%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 8;
    backdrop-filter: blur(10px);
  }

  button {
    display: block;
    margin: 0 0 5px auto;
    background-color: transparent;
    font-size: 30px;
    color: $textColor;
    border: none;
    outline: none;
    cursor: pointer;
  }

  ul {
    text-align: left;
    margin: 20px 0;
    line-height: 1.3;
    margin: 0;

    li {
      margin: 14px;
      list-style: inside;

    }
  }
}