// FONTS
$primaryFont: "Roboto";
$secondaryFont: "Nunito";

// COLORS
$primaryColor: #BDE0FE;
$secondaryColor: #A2D2FF;
$tertiaryColor: #FFAFCC;
$fourthColor: #FFC8DD;
$fifthColor: #CDB4DB;

$textColor: #3e3b43;

// MEDIA QUERIES:

$smallScreens: 1024px;
$tablet: 768px;
$mobile: 480px;