.weather{
    display: flex;
    justify-content: center;
    .weatherDisplay{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 4%;
        margin: 3% 0% 3% 0%;
        background-color: white;
        border-radius: 15%;
        box-shadow: 5px 10px slategray;
        text-transform: uppercase;
        .icon{
            width: 4rem;
            width: 100%;
        }

    }
}