html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

main {
  background-color: #BDE0FE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
@media (max-width: 768px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header {
  margin-bottom: 80px;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  header {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  header {
    font-size: 0.7rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html {
  font-size: 125%;
}

body {
  background-color: #BDE0FE;
}

header {
  background: rgb(162, 210, 255);
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(162, 210, 255)), to(rgb(210, 249, 241)));
  background: linear-gradient(0deg, rgb(162, 210, 255) 0%, rgb(210, 249, 241) 100%);
  padding: 3%;
  text-align: center;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

button {
  border: 2px solid #FFAFCC;
  padding: 10px;
  background-color: #A2D2FF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: italic;
}
@media (max-width: 768px) {
  button {
    font-size: 1rem;
    padding: 5px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}
button:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

input[type=text] {
  margin: 5px 5px;
  padding: 5%;
  border: none;
  border-radius: 5%;
  margin-bottom: 15px;
  font-family: "Nunito";
}
@media (max-width: 768px) {
  input[type=text] {
    padding: 1%;
    width: 75%;
    margin: 10px auto;
  }
}
input[type=text]:focus {
  outline: none;
  border: 2px solid #FFC8DD;
}

input[type=range] {
  padding: 5px 0;
}
input[type=range]::before {
  content: attr(min);
  font-size: 20px;
}

@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Italic.ttf);
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}
h1 {
  font-family: "Roboto";
}

p {
  font-family: "Nunito";
}

body {
  font-family: "Nunito";
  color: #3e3b43;
}

a {
  list-style: none;
  color: #3e3b43;
  text-decoration: none;
}

li {
  font-size: 0.9rem;
}

.popUp {
  display: none;
}
.popUp .popUpInner {
  background-color: #A2D2FF;
  line-height: 1.2rem;
  min-width: 450px;
  height: 90%;
  padding: 30px 40px;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Nunito";
  z-index: 10;
  overflow: auto;
  -webkit-box-shadow: 0px 25px 43px 0px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 25px 43px 0px rgba(0, 0, 0, 0.32);
  max-width: 100%;
}
@media (max-width: 480px) {
  .popUp .popUpInner {
    max-width: 80%;
    height: 100vh;
  }
}
.popUp .popUpInner button {
  font-size: 2rem;
}
.popUp h3 {
  text-align: center;
  margin-bottom: 30px 0;
}
.popUp p {
  text-align: center;
}
.popUp:before {
  content: "";
  background: rgba(0, 0, 0, 0.57);
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: 8;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.popUp button {
  display: block;
  margin: 0 0 5px auto;
  background-color: transparent;
  font-size: 30px;
  color: #3e3b43;
  border: none;
  outline: none;
  cursor: pointer;
}
.popUp ul {
  text-align: left;
  margin: 20px 0;
  line-height: 1.3;
  margin: 0;
}
.popUp ul li {
  margin: 14px;
  list-style: inside;
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #FFC8DD;
  width: 50%;
  min-height: 597.6px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 5% 0;
  border-radius: 10% 10% 0 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 1024px) {
  .weather {
    min-height: 500px;
  }
}
@media (max-width: 768px) {
  .weather {
    min-height: none;
    width: 80%;
  }
}
.weather .weatherBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.weather .weatherDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4%;
  margin: 3% 0% 3% 0%;
  background-color: #A2D2FF;
  border-radius: 15%;
  -webkit-box-shadow: 5px 10px #CDB4DB;
          box-shadow: 5px 10px #CDB4DB;
  text-transform: uppercase;
  min-width: 30%;
}
.weather .weatherDisplay .icon {
  padding: 5%;
}
.weather .weatherDisplay p {
  font-size: 1.3rem;
  font-style: italic;
  margin: 10px 5px;
}

.activityGenerator {
  font-size: 1.2rem;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  border: 5px solid #FFC8DD;
  border-radius: 10% 10% 0 0;
  padding: 5% 0;
  min-height: 597px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1024px) {
  .activityGenerator {
    min-height: 500px;
    padding: 0;
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .activityGenerator {
    padding: 5% 5%;
    margin-top: 30px;
  }
}
.activityGenerator form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.activityGenerator label {
  display: block;
  margin: 10px 0;
  text-align: center;
}
@media (max-width: 768px) {
  .activityGenerator .buttonField {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.activityGenerator button {
  margin: 5px 0;
}
.activityGenerator .activityDisplay {
  width: 90%;
  background-color: #A2D2FF;
  min-height: 200px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 5px 10px #CDB4DB;
          box-shadow: 5px 10px #CDB4DB;
}

footer {
  width: 100%;
  background-color: #A2D2FF;
  text-align: center;
  padding: 2% 0;
  margin-top: 20px;
}